.btn{
    background-color: #a182d3;
    border: 1px solid #FAEAFF;
    padding: 0.3rem 1rem;
    font-size: 16px;
    color: whitesmoke;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.10);
    cursor: pointer;
}

.btn:focus{
    outline: none;
}

.btn:hover,
.btn:active{
    background-color: #59417e;
    border-color: #FAEAFF;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.10);
}