.container{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.4s;
    
}

.popup{
    background-color: #FDFDFD;
    width: 42rem;
    max-width: 90%;
    height: 10.5rem;
    margin: 15rem auto;
    padding: 0;
    border-radius: 0.5rem;
}

.popup-header{
    background-color: #a182d3;
    margin: 0;
    padding: 0.5rem 1rem;
    color: whitesmoke;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.popup-content{
    padding: 0.5rem 1rem;
}

.ok-button{
    background-color: #a182d3;
    border: 1px solid #FAEAFF;
    margin: 0 1rem 0rem 37rem;
    padding: 0.3rem 1rem;
    font-size: 16px;
    color: whitesmoke;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.10);
    cursor: pointer;
}   
.ok-button:focus{
    outline: none;
}

.ok-button:hover,
.ok-button:active{
    background-color: #59417e;
    border-color: #FAEAFF;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.10);
}
