.container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.7);
}

.popup{
    position: fixed;
    background-color: #FDFDFD;
    top: 30vh;
    left: 10%;
    width: 80%;
    z-index: 100;
    overflow: hidden;
    border-radius: .5rem;
}

.popup-header{
    background-color: #a182d3;
    margin: 0;
    padding: 1rem;
    color: whitesmoke;
}
.popup-content{
    padding: 1rem;
}

.ok-button{
    display: flex;
    justify-content: center;
    background-color: #a182d3;
    border: 1px solid #FAEAFF;
    padding: 1rem;
    font-size: 16px;
    color: whitesmoke;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.10);
    cursor: pointer;
}   
.ok-button:focus{
    outline: none;
}

.ok-button:hover,
.ok-button:active{
    background-color: #59417e;
    border-color: #FAEAFF;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.10);
}

@media (min-width: 768px) {
    .popup {
      left: calc(50% - 20rem);
      width: 40rem;
    }
  }