body{
    background-color: #252525;
}
.form{
    background-color: #FDFDFD;
    margin: 3rem auto;
    width: 40rem;
    max-width: 90%;
    padding: 1rem 1.5rem;
    border-radius: .5rem;
    box-shadow: 0 2px 12px rgba(177, 149, 198, 0.2);
}